spring:
  application:
    name: user-edge-service
  redis:
    host: 192.168.1.98
    port: 6379
    # 连接超时时间（毫秒）
#    timeout: 10000ms
#    lettuce:
#      pool:
#        # 连接池最大连接数（使用负值表示没有限制）默认8
#        max-active: 16
#        #连接池中的最大空闲连接 默认8
#        max-idle: 8
#        # 连接池最大阻塞等待时间,单位毫秒（使用负值表示没有限制）默认-1
#        max-wait: 1000ms
#        # 连接池中的最小空闲连接 默认0
#        min-idle: 0
#      shutdown-timeout: 100ms

server:
  port: 8001

thrift:
  user:
    ip: 127.0.0.1
    port: 8000
  message:
    ip: 127.0.0.1
    port: 9090